---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-magic-numbers,
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
...

