---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  - { key: readability-identifier-naming.ConstantCase,        value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumCase,            value: CamelCase  }
  - { key: readability-identifier-naming.EnumConstantCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.FunctionCase,        value: lower_case }
  - { key: readability-identifier-naming.GlobalVariableCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.LocalConstantCase,   value: lower_case }
  - { key: readability-identifier-naming.LocalVariableCase,   value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.ParameterCase,       value: lower_case }
  - { key: readability-identifier-naming.StaticConstantCase,  value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticVariableCase,  value: lower_case }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.TypedefCase,         value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,           value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
...
